[req]
default_bits       = 2048
default_keyfile   = server-key.pem
distinguished_name = req_distinguished_name
req_extensions     = req_ext
x509_extensions    = v3_ca
prompt             = no

[req_distinguished_name]
countryName            = "BR"
stateOrProvinceName    = "Santa Catarina"
localityName           = "Florianopolis"
organizationName       = "UFSC"
organizationalUnitName = "CTC"
commonName             = "websocket.vitor.egami.vms.ufsc.br"  # Replace with your domain or IP
emailAddress           = "admin@example.com"

[req_ext]
subjectAltName = @alt_names

[v3_ca]
subjectAltName = @alt_names

[alt_names]
DNS.1   = websocket.vitor.egami.vms.ufsc.br      # Replace with your domain
DNS.2   = www.websocket.vitor.egami.vms.ufsc.br  # Optional: Add www subdomain
IP.1    = 150.162.244.13                                          # Optional: Replace with your server's public IP